
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link href="@Url.Content("~/Content/css/font-face.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/font-awesome-5/css/fontawesome-all.min.css")" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="@Url.Content("~/Content/vendor/bootstrap-4.1/bootstrap.min.css")" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="@Url.Content("~/Content/css/theme.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/css/estilos.css")" rel="stylesheet" media="all">
    
</head>

<body >
    <div class="page-wrapper bglogin">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="@Url.Content("~/images/logo-canteras.png")" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <h4 class="text-center">Acceso a clientes</h4><br />
                            <form method="post" onsubmit="return Logeo()">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    <input class="au-input au-input--full" type="text" id="txtuser" placeholder="Usuario" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="au-input au-input--full" type="password" id="txtpassword" placeholder="Password" required>
                                </div>
                                @*<div class="login-checkbox">
                                    <label>
                                        <a href="#">Forgotten Password?</a>
                                    </label>
                                </div>*@
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit"> Entrar</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="@Url.Content("~/Content/vendor/jquery-3.2.1.min.js")"></script>
    <!-- Bootstrap JS-->
    <script src="@Url.Content("~/Content/vendor/bootstrap-4.1/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap-4.1/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/login/login.js?dd=1")"></script>

    <script>
        $("#txtuser").bind('keypress', function (event) {
            var regex = new RegExp("^[a-zA-Z ]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txtpassword").bind('keypress', function (event) {
            var regex = new RegExp("^[0-9]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });

    </script>
</body>

</html>
