@using WILF.BE
@{
    Usuario usuario = null;
    try
    {
        usuario = (Usuario)HttpContext.Current.Session["Usuario"];
        if (usuario == null) {
            HttpContext.Current.Response.Redirect("/Home/Login");
        }
    }
    catch
    {
        HttpContext.Current.Response.Redirect("/Home/Login");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Fontfaces CSS-->
    <link href="@Url.Content("~/Content/css/font-face.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/font-awesome-5/css/fontawesome-all.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css")" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="@Url.Content("~/Content/vendor/bootstrap-4.1/bootstrap.min.css")" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="@Url.Content("~/Content/vendor/animsition/animsition.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/wow/animate.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/css-hamburgers/hamburgers.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/slick/slick.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/select2/select2.min.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/vendor/perfect-scrollbar/perfect-scrollbar.css")" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="@Url.Content("~/Content/css/theme.css")" rel="stylesheet" media="all">
    <link href="@Url.Content("~/Content/css/estilos.css")" rel="stylesheet" media="all">

    @RenderSection("beforeHeadEnds", false)
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                        <div class="header-button">
                            <div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-comment-more"></i>
                                    <span class="quantity">1</span>
                                    <div class="mess-dropdown js-dropdown">
                                        <div class="mess__title">
                                            <p>You have 2 news message</p>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="@Url.Content("~/images/logo-canteras.png")" alt="Michelle Moreno" />
                                                
                                            </div>
                                            <div class="content">
                                                <h6>Michelle Moreno</h6>
                                                <p>Have sent a photo</p>
                                                <span class="time">3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="@Url.Content("~/images/logo-canteras.png")" alt="Diane Myers" />
                                            </div>
                                            <div class="content">
                                                <h6>Diane Myers</h6>
                                                <p>You are now connected on message</p>
                                                <span class="time">Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="mess__footer">
                                            <a href="#">View all messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-email"></i>
                                    <span class="quantity">1</span>
                                    <div class="email-dropdown js-dropdown">
                                        <div class="email__title">
                                            <p>You have 3 New Emails</p>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="@Url.Content("~/images/logo-canteras.png")" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, 3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="@Url.Content("~/images/avatar-05.jpg")" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="images/logo-canteras.png" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, April 12,,2018</span>
                                            </div>
                                        </div>
                                        <div class="email__footer">
                                            <a href="#">See all emails</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                
                                    </div>
                                </div>
                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">@usuario.User</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">@usuario.User</a>
                                                </h5>
                                                <span class="email">johndoe@example.com</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Modificar Perfil
                                                </a>
                                            </div>
                                    
                                 
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="@Url.Action("Logon","Home")">
                                                <i class="zmdi zmdi-power"></i>Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="@Url.Content("~/images/logo-canteras.png")" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                @if (usuario.IdPerfil > 1)
                {
                    <div class="account2">
                        @if (usuario.RutaImagen != "") { 
                        <div class="image img-cir img-140">
                            <img src="@Url.Content("~"+usuario.RutaImagen)" alt="@usuario.User">
                        </div>
                        }
                        @if (usuario.ImagenMascota != "")
                        {
                        <div class="img-dueno">
                            <img src="@Url.Content("~/"+usuario.ImagenMascota)">
                        </div>
                        }
                        <h4 class="name">@usuario.User</h4>
                    </div>
                }
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        @foreach (var item in usuario.Menus)
                        {
                            <li>
                                <a href="@item.Ruta">
                                    <i class="@item.Clase"></i>
                                    @item.Descripcion
                                </a>
                            </li>
                        }
                        @*<li class="has-sub">
                                <a class="js-arrow open" href="#">
                                    <i class="fas fa-trophy"></i>Usuarios
                                    <span class="arrow up">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="@Url.Action("Index","Cliente")">Crear Cliente</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","General")">
                                    <i class="fas fa-table"></i> Especie y Raza
                                </a>
                            </li>*@
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                <div class="noti-wrap">

                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                   
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap ">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            @*<img src="@Url.Content("~"+usuario.RutaImagen)" alt="@usuario.User" />*@
                                            <img src="@Url.Content("~/images/user.png")" alt="vet" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">@usuario.User</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="@Url.Content("~/images/user.png")" alt="vet" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">@usuario.User</a>
                                                    </h5>
                                                    <span class="email">@usuario.User</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Modificar Perfil
                                                    </a>
                                                </div>
                                  

                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="@Url.Action("Logon","Home")">
                                                    <i class="zmdi zmdi-power"></i>Logout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                @RenderBody()
            </div>
            <!-- END MAIN CONTENT-->

        </div>
    </div>

    <!-- Jquery JS-->
    <script src="@Url.Content("~/Content/vendor/jquery-3.2.1.min.js")"></script>
    <!-- Bootstrap JS-->
    <script src="@Url.Content("~/Content/vendor/bootstrap-4.1/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap-4.1/bootstrap.min.js")"></script>
    <!-- Vendor JS       -->
    @*<script src="@Url.Content("~/Content/vendor/slick/slick.min.js")"></script>
        <script src="@Url.Content("~/Content/vendor/wow/wow.min.js")"></script>*@
    <script src="@Url.Content("~/Content/vendor/animsition/animsition.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/perfect-scrollbar/perfect-scrollbar.js")"></script>
    @*<script src="@Url.Content("~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js")"></script>
        <script src="@Url.Content("~/Content/vendor/counter-up/jquery.waypoints.min.js")"></script>
        <script src="@Url.Content("~/Content/vendor/counter-up/jquery.counterup.min.js")"></script>
        <script src="@Url.Content("~/Content/vendor/circle-progress/circle-progress.min.js")"></script>
        <script src="@Url.Content("~/Content/vendor/chartjs/Chart.bundle.min.js")"></script>
        <script src="@Url.Content("~/Content/vendor/select2/select2.min.js")"></script>*@
    <!-- Main JS-->
    <script src="@Url.Content("~/Content/js/main.js")"></script>

    @RenderSection("beforeBodyEnd", false)

</body>
</html>
